name: "weekly sanity test"
on:
  schedule:
    - cron:  '30 20 * * 1'

jobs:
  sanity:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [8, 11, 17]
        impl: [temurin]
        buildlist: [openjdk, system, functional]
        # Exclude jdk8 for macos
        exclude:
          - os: macos-latest
            version: 8
          - os: windows-latest
            buildlist: [openjdk, functional]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{ matrix.version }}
        distribution: ${{ matrix.impl }}
    - name: AQA
      uses: ./
      with: 
        version: ${{ matrix.version }}
        jdksource: 'install-jdk'
        build_list: ${{ matrix.buildlist}}
        target: '_sanity.regular'
