name: "run-aqa build with push to master"
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  openjdk_disto: # make sure build/ci work properly with other distros
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [adoptopenjdk/alpine3_build_image]
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: AQA
      uses: ./
      with: 
        version: '8'
        jdksource: 'github-hosted'
        build_list: 'openjdk'
        target: '_jdk_custom'
  test_container: # make sure build/ci work properly with other distros
        runs-on: ubuntu-latest
        container:
          image: ${{ matrix.image }}
        strategy:
          fail-fast: false
          matrix:
            image: ['ghcr.io/adoptium/test-containers:ubuntu2204']
        steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
          with:
            java-version: '17'
            distribution: 'temurin'
        - name: AQA
          uses: ./
          with: 
            version: '17'
            jdksource: 'install-jdk'
            build_list: 'openjdk'
            target: '_jdk_custom'
            prebuildContainer: 'true'